<button type="button" class="btn btn-primary" (click)="onBackView()">Back</button>
<h2>User id : {{urlId}}</h2>
<ul class="userlist list-group" *ngFor="let viewUser of userDetailsList" (click)="onSelect(user)">
  <a class="list-group-item" routerLink="/albums/{{viewUser.id}}/photos">{{ viewUser.id }} {{ viewUser.title }}</a>
</ul>