<button type="button" class="btn btn-primary" (click)="onBackView()">Back</button>
<h2>Album id : {{urlId}}</h2>
<div class="row">
  <div class="column" *ngFor="let viewPhoto of photoDetails">
    <img src="{{viewPhoto.url}}" class="img-fluid img-thumbnail">
  </div>
</div>
