<h2>User List</h2>
<ul class="userlist list-group" *ngFor="let user of userList" [class.selected]="user === selectedUser" (click)="onSelect(user)">
  <a class="list-group-item" routerLink="/user/{{user.id}}/albums" >{{user.id}} {{ user.name }}</a>
</ul>