.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .userlist {
    /* margin: 0 0 2em 0; */
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .userlist li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .1em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .userlist li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .userlist li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }